doctype html
html
	head
		meta(charset='UTF-8')

		//- facebook open graph
		meta(property="og:title" content="山上會下雨嗎")
		meta(property="og:site_name" content="山上會下雨嗎")
		//- meta(property="og:description" content="山上會下雨嗎")
		//- meta(property="og:image" content="http://wedding-chia-ting.herokuapp.com/res/img/logo.png")

		title 山上會下雨嗎

		//- mapbox
		script(src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js')
		link(href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet')

		//- basic style
		link(href='src/content/index.css' rel='stylesheet')

		//- react
		script(src="node_modules/react/dist/react.js")
		
	body
		#content
		script(src='build/app.js')